language: ruby
rvm:
  - 2.2.1
sudo: false
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - bundle exec rake db:migrate --trace
  - bin/rspec
notifications:
  email:
    on_success: change
    on_failure: always
